<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onRequest" fire="QUI\WebsiteLocker\EventHandler::onRequest" priority="1"/>
    <event on="onStart" fire="QUI\WebsiteLocker\EventHandler::onSiteStart"/>

    <event on="onUserLogout" fire="QUI\WebsiteLocker\EventHandler::onUserLogout"/>
    <event on="onUserLogoutBegin" fire="QUI\WebsiteLocker\EventHandler::onUserLogoutBegin"/>

    <event on="onUserLogin" fire="QUI\WebsiteLocker\EventHandler::onUserLogin"/>
    <event on="onUserLoginStart" fire="QUI\WebsiteLocker\EventHandler::onUserLoginStart"/>
    <event on="onUserLoginAjaxStart" fire="QUI\WebsiteLocker\EventHandler::onUserLoginStart"/>
</events>
